In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("house_price_data.csv")
data.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_above,grade,price
0,7129300520,20141013T000000,3,1.00,1180,1180,7,221900
1,6414100192,20141209T000000,3,2.25,2570,2170,7,538000
2,5631500400,20150225T000000,2,1.00,770,770,6,180000
3,2487200875,20141209T000000,4,3.00,1960,1050,7,604000
4,1954400510,20150218T000000,3,2.00,1680,1680,8,510000

In [14]:
# As you can see above we have 7 features and 1 label
# price is the target
x=data[['bedrooms','bathrooms','sqft_living','sqft_above','grade']]
y=data['price']
x

       bedrooms  bathrooms  sqft_living  sqft_above  grade
0             3       1.00         1180        1180      7
1             3       2.25         2570        2170      7
2             2       1.00          770         770      6
3             4       3.00         1960        1050      7
4             3       2.00         1680        1680      8
...         ...        ...          ...         ...    ...
21608         3       2.50         1530        1530      8
21609         4       2.50         2310        2310      8
21610         2       0.75         1020        1020      7
21611         3       2.50         1600        1600      8
21612         2       0.75         1020        1020      7

[21613 rows x 5 columns]

In [15]:
y

0        221900
1        538000
2        180000
3        604000
4        510000
          ...
21608    360000
21609    400000
21610    402101
21611    400000
21612    325000
Name: price, Length: 21613, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=42)

In [17]:
# def split_train_test(data, test_ratio):
#     np.random.seed(42) # To preveent the overfitting problem
#     shuffled = np.random.permutation(len(data))
#     print(shuffled)
#     test_set_size = int(len(data)*test_ratio)
#     test_indices = shuffled[:test_set_size]
#     train_indices = shuffled[test_set_size:]
#     return data.iloc[train_indices], data.iloc[test_indices]
# This is what the cell above does in an automated way

In [18]:
from sklearn.linear_model import LinearRegression
regr = LinearRegression()
regr.fit(x_train,y_train)

LinearRegression()

In [19]:
print("Coefficients:",regr.coef_)

Coefficients: [-4.45962172e+04 -1.93752352e+04  2.73018557e+02 -8.52670724e+01
  1.08112961e+05]

In [20]:
regr.score(x_test,y_test)

0.5426321179276171